<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <url>http://localhost:8080/labelof</url>
    
    <url>http://localhost:8080/getAllPrinter</url>
    
    <url>http://localhost:8080/postPrintMessage</url>
    
    <url>http://localhost:8080/getLabelTypes</url>

    <url>http://localhost:8080/getRetourData</url>
    
</configuration>